body {
  position: relative;
  background-image: url(/styles-conference/assets/lindy-hop-bg1.jpg);
  opacity: 0.5;
  background-size:cover;
  background-repeat: no-repeat;
}

p {
  font-family: 'Lato', sans-serif;
}